body { 
  font-family: "Ubuntu", "sans-serif";
  margin-top: 60px; }
img{
    margin:15px 0;
  }
li {
    display: block;
}
.content {
  padding: 10px;
}
.special-glyph:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 5px;
    margin-left: -17px;
    color: #CCCCCC;
}

.introduction {
    border-radius: 25px;
    background-color: #C40DA;
}
.about {
  border-radius: 25px;
  background-color: #93C2B8;
}
.contact {
  border-radius: 25px;
  background-color: #B9C9C9;
}
.navbar-default {
  background-color: rgb(210, 210, 210);
	margin-bottom: 5px;
  	display: block;
	text-decoration: none;
}

.portfolio {
  border-radius: 25px;
  background-color: #ECF6F4;
}    

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#introduction {
  margin: 20%;
  font-size: 17px;
}
#page-container {
  max-height: calc(100vh - 51px);
  overflow: auto;
}